<div id='<%=  @id_text %>'>
  <div class="toolbar">
    <a class="back fade" href="#home">Back</a>
    <a href="/help?txt=<%=  @title_text %>" class="button slideup">Help</a>
    <h1><%=  @title_text %></h1>
  </div>

  <p class="coming">lj sdf lkjl asdlf jl sldf lkwjerl lkjsld fkjl
    wlkejr lkjsl dfkj lksdjer lwje rlksjl dfjlsw erlkwj ekrsdf
  </p>

  <div class="info">
    Served at <%= Time.now %>
  </div>
</div><!-- Add other pages below -->
