
<div id="help-ex" class="selectable">
  <div class="toolbar">
    <h1><span class='thick'>Help</span></h1>
    <a href="#" class="back">Back</a>
  </div>

  <!-- minimum div makes sure footer shows up at the bottom of screen even if content is short -->
  <div class="">
    <div>
      <div class="focal">
        <p>This will be contextual help for <%= @id_text %> </p>
      </div>
    </div>
  </div>
</div>  <!-- end of scroll div -->