<div id="mobileabout" class="">

  <div class="toolbar">
    <a href="#" class="back">Back</a>
  </div>

  <!-- minimum div makes sure footer shows up at the bottom of screen even if content is short -->


  <p class="coming">
    This mobile app is the work of the <strong>Open Austin</strong> group.<br /><br />
    You can learn more about the group
    at www.openaustin.org.
    <br /><br />
    This mobile app is based on the MIT Mobile Web project.
    <br /><br />See m.wvu.edu or m.mit.edu.<br /><br />
  </p>


  <!-- end of scroll div -->
</div>